.title-box{
    display: flex;
    background-color: cornsilk;
    text-align: center;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    min-height: 1vh;
    max-height: 10rem;
    width: 100%;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.3); 
    /* font-size: 1vw; */
}

.dynamicsLab-text{
    display: flex;
    font-size: 1vw;

}

.physics-details p{
    font-size: 1.2rem;
    font-style: italic;
}

#lab-title{
    font-size: 35px;
    font-style: italic;
}

.lab-color{
    font-size: 35px;
    font-style: italic;
    color: darkturquoise;
}

.vertical-border{
    height: 5rem;
    color: blue;
    border-left: .2rem solid black;
}
.uni-text{
    font-size: 35px;
    font-style: italic;
}
.physicsContainer{
    margin-top: 10rem;
    width: 99%;
    
}

.cardsContainer{
    min-width: 25rem;
    max-width: 20%;
    min-height: 15rem;
    height: 20%;
    background-color: rgb(242, 242, 250);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
}
.cardsContainer:hover{
    min-width: 25rem;
    max-width: 20%;
    min-height: 15rem;
    height: 20%;
    background-color: rgb(215, 215, 229);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 15px -5px rgba(0, 0, 0, 0.5); 
    transition: box-shadow 0.3s;
}

.sim-cards-container{
    width: 98%;
    margin-top: 1rem;
    overflow: scroll;
    display: flex;
    gap: 1rem;
    /* background-color: cadetblue; */
    align-items: center;
    /* height: 40%; */
    min-height: 17rem;
}


.nsf-container{
    margin-top: 5%;
    width: 98%;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 10rem; */
}



.imageContainer{
    border-radius: 1rem;
}

.image{
    width: 22rem;
    height: 12rem; 
    border-radius: 1rem;
    margin-top: 1rem;
}
.infoContainer{
    bottom: 0;
    position: absolute;
    /* height: ; */
    border-top: 1px solid black;
    margin-top: 10rem;
    min-width: 20rem;
    width: 70%;
    height: 10rem;
    /* background-color: blue; */
    /* position: fixed */
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
}
.aboutContainer{
    padding-bottom: 25rem;
}

.contactContainer{
    width: 25%;
    color: black;
}

.contactText{
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}


.aboutContainer{
    font-size: 2rem !important;
}


@media (min-width: 1000px) and (max-width: 2000px){
    .title-box{
        font-size: 1.2vw !important;
        width: 100vw !important;
        min-height: 10vh;
    }
    .physicsContainer{
        font-size: 1.2vw;
        margin-top: 10rem;
        /* width: 99%; */
    }
    .aboutContainer p{
        font-size: 1.2vw;
    }
}

@media (min-width: 2001){
    .title-box{
        font-size: 1.2vw !important;
        width: 100vw !important;
    }
    .physicsContainer{
        font-size: 1.2vw;
        margin-top: 10rem;
        /* width: 99%; */
    }
    .aboutContainer p{
        font-size: 1.2vw;
    }
}

@media (max-width: 400px) {
    .infoContainer {
        width: 30rem;
        flex-direction: column;
        gap: 1rem;
        min-height: 20rem;
        font-size: 1rem;
    }
    .aboutContainer{
        padding-bottom: 25rem;
    }
    .infoContainer div{
        width: 100%;
    }
    .physicsContainer p{
        font-size: 1rem !important;
    }
    .aboutContainer p{
        font-size: 1.1rem;
    }
}

@media (min-width: 400px) and (max-width: 800px){
    .infoContainer {
        width: 40rem;
        flex-direction: column;
        gap: 1rem;
        min-height: 20rem;
    }
    .infoContainer div{
        width: 100%;
    }
    .aboutContainer p{
        font-size: 1.1rem;
    }
}
